html,
body {
  margin: 0;
  padding: 0 20px;
  background: lightgray;
  font-family: "Montserrat", "Noto Sans TC", sans-serif;
}

#calendar {
  max-width: 1000px;
  margin: 40px auto;
  box-shadow: 0px 20px 20px 0px rgba(116, 116, 116, 0.01);
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 24px;
}

.fc-toolbar-title {
  text-transform: uppercase;
}

/* 月曆主體 */
.fc-view {
  background: #ffffff;
  border-radius: 1rem;
  overflow: hidden;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border: none;
  border-bottom: 1px solid #cccccc;
}

/* 週末顏色設定 */
.fc-day-sat,
.fc-day-sun {
  color: #dc3939;
}

/* 其他月份 */
.fc-day-other {
  color: #555555;
}

/* 當天日期 */
.fc-day-today {
  background: none !important;
  color: inherit !important;
}

.fc-day.has-event {
  background: #edfaf1;
}

/* 月曆 header 一～日 */
th.fc-col-header-cell {
  padding: 12px;
}

/* 月曆 header 一～日 */
.fc .fc-col-header-cell-cushion {
  font-size: 26px;
  color: #666;
}

/* 日期置中 */
.fc .fc-daygrid-day-top {
  justify-content: center;
}

/* 日期數字 */
.fc .fc-daygrid-day-number {
  font-size: 22px;
  padding: 8px;
}

/* event 標籤 container */
.fc-h-event .fc-event-title-container {
  padding: 0.25rem 1rem;
}

.fc .fc-daygrid-day-events {
  margin-top: 16px;
}

/* event 標籤 */
.fc-daygrid-event {
  border-radius: 12px;
}

/* event 標籤 */
.fc-h-event {
  background: #67b77e;
  border: none;
}

/* event title */
.fc-h-event .fc-event-title {
  font-size: 26px;
}

/* 切換按鈕 */
.fc .fc-button-group {
  gap: 24px;
}

.fc .fc-button {
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 6px !important;
}

.fc .fc-button-primary:focus,
.fc .fc-button-primary:active {
  box-shadow: none !important;
}

.fc .fc-button-primary {
  border: none;
  background-color: #3e9153;
}

.fc .fc-button-primary:hover {
  background-color: #177338;
}

.fc-icon.fc-icon-chevron-left {
  position: relative;
}

.fc-icon.fc-icon-chevron-left::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  content: "";
  background-image: url("./icon_left.svg");
}

.fc-icon.fc-icon-chevron-right::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  content: "";
  background-image: url("./icon_right.svg");
}

.popper,
.tooltip {
  position: absolute;
  z-index: 9999;
  padding: 1rem;
  width: 200px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 20px 20px 0px rgba(33, 33, 33, 0.05);
  color: #444;
  text-align: center;
  font-size: 1rem;
  line-height: 200%;
  letter-spacing: 0.32px;
  font-weight: 500;
  text-align: left;
}

.tooltip .tooltip-title {
  font-size: 1.375rem;
  font-weight: 500;
  color: #3e9153;
}

.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
  margin-top: -20px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
